
/*  Fonts  */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Italic';
    src: url('../fonts/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

/*  General CSS*/


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container{
  display: block;
  text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
    color: #bbb;
}



/* body    */
body {
    background-color: black;
    background-image: url(../img/backgground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*  header  */
header{
width: 100%;
height: 350px;
margin-top: 30px;
background-color: black;
}

.trio {
  width:100%;
max-width:500px;
margin: 0 auto;
text-align: center;
}

.companyName {
width:100%;
max-width: 330px;
padding-top: 50px;
margin: 0 auto;
}




.logo img {
width: 170px;
height: 170px;
}




/*  slider  */
.slider_wrapper{
  width: 1100px;
max-width: 100%;
height: auto;
position: relative;
overflow: hidden;
margin: 0 auto;
    /*background-color: #ededed;*/
}

#slides .slide{
    max-width: 100%;
    text-align: center;
  }

#slides .slide img{
    width: 100%;
    height: auto;
}

#slides .slide .caption{
    width: 100%;
    position: absolute;
    top: 50%;
    color: #bbb;
    text-align: center;
    font-family: "Roboto";
    font-size: 30px;
    color: #bbb;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 60px;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider_wrapper .rslides_tabs{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 80px;
    z-index: 9999;
}

.slider_wrapper .rslides_tabs li{
    list-style: none;
    display: inline;
}

.slider_wrapper .rslides_tabs li a{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 15px;
    background: rgba(255, 255, 255, .5);
    text-indent: -999px;
    overflow: hidden;

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.slider_wrapper .rslides_tabs .rslides_here a{
    background: rgba(255, 255, 255, 1);
}




/*  services  */
.services{
  width: 100%;
padding: 100px 0;
border-bottom: 0;
}



.section_title{
width: 300px;
height: auto;
margin-right: 50px;
float: left;
}

.section_title h2{
color: #bbb;
font-family: "Roboto";
font-size: 45px;
margin: 0 0 0 0;
}

.services h2,
.services h3{
margin: 0;
}


.services .services_list{
width: 60%;
float: right;
margin-right: 5%
}

.services .services_list ul{
list-style: none;
}

.services .services_list ul li{
width: 35%;
float: left;
margin-left: 40px;
}

.services .services_list ul li:last-child{
margin-right: 0;
}

.services .services_list h3{
    color: #bbb;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}

.services .services_list p{
    color: #bbb;
    font-family: "Roboto";
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 24px;
    letter-spacing: .5px;
}

.services .services_list a{
    text-decoration: none;
    color: #bbb;
    font-family: "Roboto";
    font-size: 15px;
    letter-spacing: .5px;
}

.services .services_list a .arrow{
    margin-left: 5px;
    font-size: 16px;
}



.services-wrap,
.about-wrap,
.team-wrap,
#message {
  padding-top: 70px;
}




/* Стили полей ввода */

form{
  width: 1100px;
  margin:0 auto;
  max-width:50%;
  box-sizing:border-box;
  padding:40px;
  border-radius:5px;
}



.textbox{
  height:40px;
  width:100%;
  border-radius:5px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  font-family: 'Roboto';
  font-size:20px;
  padding:10px;
  margin-bottom:30px;
}
.message:focus,
.textbox:focus{
  outline:none;
   border:rgba(24,149,215,1) 2px solid;
   color: #eee;
}



/* Стили текстового поля */
.message{
    background: rgba(255, 255, 255, 0.4);
    width:100%;
    height: 120px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    -moz-border-radius: 3px;
    font-family: "Roboto";
    font-size: 20px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display:block;
    padding:10px;
    margin-bottom:30px;
    overflow:hidden;
}
/* Базовые стили кнопки */
.button{
  height:50px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  background:#6d6d6d;
  color:#eee;
  font-family: "Roboto";
  font-size: 20px;
  font-weight:400;
  font-size: 16pt;
  cursor:pointer;
}



/*  footer  */
footer {
padding: 100px 0;
}



footer .footer_links{
    width: 700px;
    height: 200px;
    margin: 0 auto;
}

footer .footer_links .columns{
    width: 25%;
  }


.sm {
float: left;
width: 25%;
height: 175px;
margin-right: 12.5% ;
}

.ab {
width: 25%;
height: 175px;
margin-right: 5% ;
float: left;
}

.add {
width: 25%;
height: 175px;
margin-right:0 ;
float: right;
}

footer .footer_links .columns:last-child{
    margin-right: 0;
}

footer .footer_links .columns_title{
    color: #bbb;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}


footer .footer_links ul li{
    list-style: none;
    display: block;
    margin-bottom: 30px;
}


footer .footer_links ul li a{
    text-decoration: none;
    color: #bbb;
    font-family: "Roboto";
    font-size: 20px;
    letter-spacing: .5px;

    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

footer .footer_links ul li a:hover{
    color: #bbb;
}

footer .sm ul li a:before{
    content:"";
    display: inline-block;
    width: 32px;
    margin-right: 20px;
}

footer .sm ul li .facebook:before{
    height: 32px;
    background: url('../img/icon/fb.png') no-repeat;
    background-color: white;
    vertical-align: middle;
}



footer .sm ul li .insta:before{
    height: 32px;
    background: url('../img/icon/in.png') no-repeat;
    background-color: white;
    vertical-align: middle;
}


footer .address p{
color: #bbb;
font-family: "Roboto";
font-size: 20px;
margin-bottom: 30px;
letter-spacing: .5px;
}

footer .address .phone{
display: block;
font-family: "Roboto";
font-weight: bold;
}


/* iPad in portrait & landscape */
@media screen and  (min-width: 768px) and (max-width: 1024px) {
body {
background-image: url(../img/backgground768.jpg);
}

/*  services  */
.services{
padding: 80px 0;
border-bottom: 0;
margin-left: 5px;
margin-right: 5px;
}

.section_title{
width: 30%;
height: auto;
margin-right: 10%;
float: left;
}

.section_title h2{
color: #bbb;
font-family: "Roboto";
font-size: 40px;
margin: 0 0 0 0;
}


.services .services_list{
width: 50%;
float: left;
margin-right: 1%
}

.services .services_list ul{
list-style: none;
}

.services .services_list ul li{
width: 40%;
float: left;
margin-left: 30px;
}

form{
width: 100%;
margin:0 auto;
max-width:50%;
box-sizing:border-box;
padding:40px;
border-radius:5px;
}
}




/* tablet */
@media screen and  (min-width: 480px) and (max-width : 768px) {
body {
background-image: url(../img/backgground480.jpg);
}

/*  header  */
header{
width: 100%;
height: 350px;
margin-top: 30px;
background-color: black;
}

.trio {
  width:100%;
max-width:500px;
margin: 0 auto;
text-align: center;
}

.companyName {
width:100%;
max-width: 260px;
padding-top: 40px;
margin: 0 auto;
}



.logo img {
width: 120px;
height: 120px;
}


/*  services  */
.services{
padding: 80px 0;
border-bottom: 0;
margin-left: 5px;
margin-right: 5px;
}

.section_title{
width: 40%;
height: auto;
margin-left: 2%;
margin-right: 2%;
float: left;
}

.section_title h2{
color: #bbb;
font-family: "Roboto";
font-size: 20px;
margin: 0 0 0 0;
}

.services h2,
.services h3{
margin: 0;
}


.services .services_list{
width: 50%;
float: left;
margin-right: 5%;
}

.services .services_list ul{
list-style: none;
}

.services .services_list ul li{
width: 40%;
float: left;
margin-left: 10px;
}

.services .services_list ul li p {
font-size: 15px;
}

.services .services_list a{
    text-decoration: none;
    color: #bbb;
    font-family: "Roboto";
    font-size: 10px;
    letter-spacing: .5px;
}




/*  footer  */
footer {
padding: 50px 0;
}

footer .footer_links{
  max-width: 470px;
    height: 200px;
    margin: 0 auto;
}

footer .footer_links .columns{
    width: 25%;
  }


.sm {
float: left;
width: 25%;
height: 175px;
margin-right: 8%;
}

.ab {
width: 25%;
height: 175px;
margin-right: 8% ;
float: left;
}

.add {
width: 25%;
height: 175px;
margin-right:0 ;
float: right;
}

footer .footer_links .columns:last-child{
    margin-right: 0;
}

footer .footer_links .columns_title{
    color: #bbb;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}


footer .footer_links ul li{
    list-style: none;
    display: block;
    margin-bottom: 30px;
}


footer .footer_links ul li a{
    text-decoration: none;
    color: #bbb;
    font-family: "Roboto";
    font-size: 15px;
    letter-spacing: .5px;

    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}
}


/* Smartphones (вертикальная и горизонтальная ориентация)  */
@media screen and (min-width: 320px) and (max-width : 480px) {

body {
background-image: url(../img/backgground320.jpg);
}

/*  header  */
header{
width: 100%;
height: 350px;
margin-top: 30px;
background-color: black;
}

.trio {
  width:100%;
max-width:300px;
margin: 0 auto;
text-align: center;
}

.companyName {
width:100%;
max-width: 260px;
padding-top: 40px;
margin: 0 auto;
}




.logo img {
width: 120px;
height: 120px;
}


/*  services  */
.services{
padding: 50px 0;
border-bottom: 0;
margin-left: 5px;
margin-right: 5px;
}

.section_title{
width: 70%;
height: auto;
margin-left: 15%;
margin-bottom: 30px;
float: left;
}

.section_title h2{
color: #bbb;
font-family: "Roboto";
font-size: 30px;
margin: 0 0 0 0;
}

.services h2,
.services h3{
margin: 0;
}


.services .services_list{
width: 90%;
margin-top: 20px;
margin-right: 5%;
margin-right: 5%;
}

.services .services_list ul{
list-style: none;
}

.services .services_list ul li{
width: 45%;
float: left;
margin-left: 10px;
}

.services .services_list ul li p {
font-size: 18px;
}

.services .services_list a{
    text-decoration: none;
    color: #bbb;
    font-family: "Roboto";
    font-size: 13px;
    letter-spacing: .5px;
}

form{
width: 300px;
max-width:60%;
padding:20px;
}

.textbox{
height:30px;
font-size:15px;
padding:10px;
margin-bottom:20px;
text-align: center;
}


/* Базовые стили кнопки */
.button{
  height:30px;
    font-size: 18px;
  font-weight:300;
  font-size: 13px;
  cursor:pointer;
}




/*  footer  */
footer {
padding: 30px 0;
}

footer .footer_links{
  max-width: 320px;
    height: 200px;
    margin: 0 auto;
}

footer .footer_links .columns{
    width: 25%;
  }


.sm {
float: left;
width: 27%;
height: 175px;
margin-right: 5%;
margin-left: 2%;
}

.ab {
width: 27%;
height: 175px;
margin-right: 5% ;
float: left;
}

.add {
width: 27%;
height: 175px;
margin-right:0 ;
float: left;
}

footer .footer_links .columns_title{
font-size: 18px;
font-weight: bold;
margin-bottom: 20px;
}


footer .footer_links ul li{
list-style: none;
display: block;
margin-bottom: 20px;
}


footer .footer_links ul li a{
text-decoration: none;
color: #bbb;
font-family: "Roboto";
font-size: 13px;
letter-spacing: .5px;

}
}


/* Smartphones small (вертикальная и горизонтальная ориентация)  */
@media screen and (min-width: 240px) and (max-width : 320px) {

body {
background-image: url(../img/backgground240.jpg);
}


.container{
margin-top: 10px;
}

/*  header  */
header{
width: 100%;
height: 350px;
margin-top: 10px;
background-color: black;
}

.trio {
  width:100%;
max-width:300px;
margin: 0 auto;
text-align: center;
}

.companyName {
width:100%;
max-width: 180px;
padding-top: 20px;
margin: 0 auto;
}



/*  services  */
.services{
padding: 50px 0;
border-bottom: 0;
margin-left: 5px;
margin-right: 5px;
}

.section_title{
width: 70%;
height: auto;
margin-left: 15%;
margin-bottom: 30px;
float: left;
}

.section_title h2{
font-size: 27px;
}


.services .services_list{
width: 95%;
margin-top: 20px;
margin-right: 5%;
margin-right: 5%;
}

.services .services_list ul{
list-style: none;
}

.services .services_list ul li{
width: 45%;
float: left;
margin-left: 0;
}

.services .services_list ul li:last-child {
margin-left: 5%;
}

.services .services_list ul li p {
font-size: 18px;
}

.services .services_list a{
    text-decoration: none;
    color: #bbb;
    font-family: "Roboto";
    font-size: 13px;
    letter-spacing: .5px;
}

form{
width: 300px;
max-width:60%;
padding:20px;
}

.textbox{
height:30px;
font-size:15px;
padding:10px;
margin-bottom:20px;
text-align: center;
}


/* Базовые стили кнопки */
.button{
height:30px;
font-size: 18px;
font-weight:300;
font-size: 13px;
cursor:pointer;
}

/*  footer  */
footer {
padding: 30px 0;
}

footer .footer_links{
max-width: 240px;
height: 200px;
margin: 0 auto;
}

footer .footer_links .columns{
width: 25%;
}


.sm {
float: left;
width: 27%;
height: 175px;
margin-right: 5%;
margin-left: 2%;
}

.ab {
width: 27%;
height: 175px;
margin-right: 5% ;
float: left;
}

.add {
width: 27%;
height: 175px;
margin-right:0 ;
float: left;
}

footer .footer_links .columns_title{
font-size: 15px;
font-weight: bold;
margin-bottom: 20px;
}


footer .footer_links ul li{
list-style: none;
display: block;
margin-bottom: 20px;
}


footer .footer_links ul li a{
text-decoration: none;
color: #bbb;
font-family: "Roboto";
font-size: 13px;
letter-spacing: .5px;

}
}
