
/*  Fonts  */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto-Italic';
    src: url('../fonts/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab-Light';
    src: url('../fonts/RobotoSlab-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab-Thin';
    src: url('../fonts/RobotoSlab-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

/*  General CSS*/

h1, h2, h3, h4, h5 ,h6, {

    font-family: "Roboto";
    letter-spacing: 1px;
}


h2 {
   font-size: 50px;
   font-family: "Roboto";
 }


h5 {
  font-size: 20px;
   font-family: "Roboto";
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container{
  display: block;
  text-align: center;
    width: 1100px;;
    margin: 0 auto;
    margin-top: 30px;
    color: #bbb;
}






/* body    */
body {
    background-color: black;
    background-image: url(../img/backgground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*  header  */
header{
width: 100%;
height: 430px;
margin-top: 30px;
background-color: black;
}

.trio {
width:500px;
margin: 0 auto;
}

.companyName {
width: 280px;
padding-top: 30px;
margin: 0 auto;
}





header .menu {
display: block;
width: 500px;
height: 50px;
margin: 0 auto;
margin-top: 70px;
}

header .menu ul li {
    list-style: none;
    float: left;
    margin-left: 40px;
    color: #bbb;
}

header .menu ul li a {
    text-decoration: none;
    color: #bbb;
    font-family: "Roboto";
    font-size: 20px;
    letter-spacing: .4px;

    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

header .menu ul li a:hover,
header .menu ul .selected{
    color: #ffffff;
}








/*  slider  */
.slider_wrapper{

width: 100%;
height: auto;
position: relative;
overflow: hidden;
    /*background-color: #ededed;*/
}

#slides .slide{
    position: relative;
    width: 100%;
    float: left;
}

#slides .slide img{
    width: 100%;
    height: auto;
}

#slides .slide .caption{
    width: 100%;
    position: absolute;
    top: 50%;
    color: #bbb;
    text-align: center;
    font-family: "Roboto";
    font-size: 30px;
    color: #bbb;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 60px;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider_wrapper .rslides_tabs{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 80px;
    z-index: 9999;
}

.slider_wrapper .rslides_tabs li{
    list-style: none;
    display: inline;
}

.slider_wrapper .rslides_tabs li a{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 15px;
    background: rgba(255, 255, 255, .5);
    text-indent: -999px;
    overflow: hidden;

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.slider_wrapper .rslides_tabs .rslides_here a{
    background: rgba(255, 255, 255, 1);
}






/*  services  */
.services{
padding: 100px 0;
border-bottom: 1px solid #f5f5f5;
}

.section_title{
width: 333px;
height: auto;
margin-right: 50px;
float: left;
}

.section_title h2{
color: #bbb;
font-family: "Roboto";
font-size: 45px;
margin: 0 0 40px 0;
}

.services h2,
.services h3{
margin: 0;
}


.services .services_list{
width: 717px;
float: right;
}

.services .services_list ul{
list-style: none;
}

.services .services_list ul li{
width: 212px;
float: left;
margin-left: 60px;
}

.services .services_list ul li:last-child{
margin-right: 0;
}

.services .services_list h3{
    color: #bbb;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}

.services .services_list p{
    color: #bbb;
    font-family: "Roboto";
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 24px;
    letter-spacing: .5px;
}

.services .services_list a{
    text-decoration: none;
    color: #bbb;
    font-family: "Roboto";
    font-size: 15px;
    letter-spacing: .5px;
}

.services .services_list a .arrow{
    margin-left: 5px;
    font-size: 16px;
}






/*  projects  */
.projects{
    padding: 100px 0;
    border-bottom: 1px solid #f5f5f5;
}

.projects .section_title .details{
    text-decoration: none;
    color: #6d6d6d;
    font-family: "Roboto";
    font-size: 20px;
    letter-spacing: .5px;
}

.projects .section_title .details .arrow{
    margin-left: 5px;
}


.portfolio-item {
  font-family: "Roboto";
  font-size: 20px;
  float: left;
  margin-right: 3.5%;
  width: 31%;
  margin-bottom: 50px;
}





.services-wrap,
.portfolio-wrap,
.about-wrap,
.team-wrap,
#message {
  padding-top: 70px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-shild(1),
.portfolio-item:nth-last-shild(2),
.portfolio-item:nth-last-shild(3) {
  margin-bottom: 0;
}


.p-item-footer {
  padding: 25px 20px;
}


.p-item-footer h5 .title {
  margin-bottom: 4px;
}







form{
  width: 1100px;
  margin:0 auto;
  max-width:50%;
  box-sizing:border-box;
  padding:40px;
  border-radius:5px;

}


/* Стили полей ввода */
.textbox{
  height:40px;
  width:100%;
  border-radius:5px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  font-family: 'Roboto';
  font-size:20px;
  padding:10px;
  margin-bottom:30px;
}
.message:focus,
.textbox:focus{
  outline:none;
   border:rgba(24,149,215,1) 2px solid;
   color: #eee;
}



/* Стили текстового поля */
.message{
    background: rgba(255, 255, 255, 0.4);
    width:100%;
    height: 120px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    -moz-border-radius: 3px;
    font-family: "Roboto";
    font-size: 20px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display:block;
    padding:10px;
    margin-bottom:30px;
    overflow:hidden;
}
/* Базовые стили кнопки */
.button{
  height:50px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  background:#6d6d6d;
  color:#eee;
  font-family: "Roboto";
  font-size: 20px;
  font-weight:400;
  font-size: 16pt;
  cursor:pointer;
}


textarea {
  resize: none;
}





/*  footer  */
footer {
padding: 100px 0;
}



footer .footer_links{
    width: 717px;
    margin: 0 auto;
}

footer .footer_links .columns{
    width: 212px;
    float: left;
    margin-right: 20px;
}

footer .footer_links .columns:last-child{
    margin-right: 0;
}

footer .footer_links .columns_title{
    color: #bbb;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
}


footer .footer_links ul li{
    list-style: none;
    display: block;
    margin-bottom: 30px;
}

footer .footer_links ul li a{
    text-decoration: none;
    color: #bbb;
    font-family: "Roboto";
    font-size: 20px;
    letter-spacing: .5px;

    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

footer .footer_links ul li a:hover{
    color: #bbb;
}

footer .sm ul li a:before{
    content:"";
    display: inline-block;
    width: 32px;
    margin-right: 20px;
}

footer .sm ul li .facebook:before{
    height: 32px;
    background: url('../img/icon/fb.png') no-repeat;
    background-color: white;
    vertical-align: middle;
}



footer .sm ul li .insta:before{
    height: 32px;
    background: url('../img/icon/in.png') no-repeat;
    background-color: white;
    vertical-align: middle;
}


footer .address p{
    color: #bbb;
    font-family: "Roboto";
    font-size: 20px;
    margin-bottom: 30px;
    letter-spacing: .5px;
}

footer .address .phone{
    display: block;
    font-family: "Roboto";
    font-weight: bold;
}
